@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto&family=Rock+3D&display=swap');

.manager-page-wrapper {
  display: flex;
  flex-shrink: 1;
  flex-direction: column;
  align-items: center;
}

.manager-header {
  display: flex;
  flex-shrink: 1;
  flex-direction: column;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  background-color: rgb(206, 206, 206);
  width: 1000px;
  height: 140px;
  border-radius: 40px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  color: darkslategray;
  font-size: x-large;
}

.manager-title {
  text-shadow: 3px 3px black;
  margin: 0px;
  margin-top: 10px;
}

.manager-welcome {
  color: rgb(17, 17, 17);
}

.nav-bar {
  width: 1000px;
  justify-content: center;
}

.details-link {
  margin-right: 50px;
  font-size: x-large;
  border: 2px;
  border-radius: 6px;
  background-color: rgb(144, 144, 255);
  padding: 12px;
  text-decoration: none;
  box-shadow: 3px 3px rgb(32, 32, 32);
}

.details-link:link {
  color: black;
}

.details-link:visited {
  color: brown;
}

.details-link:hover {
  font-size: xx-large;
  text-transform: capitalize;
  background-color: rgb(64, 64, 255);
}

.details-link:active {
  color: red;
}
