@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto&family=Rock+3D&display=swap');

.login-wrapper {
  margin: 0px;
  border-radius: 20px;
  background-color: #7c98b3ff;
  width: 500px;
  display: flex;
  flex-shrink: 1;
  flex-direction: column;
  align-items: center;
}

.login-title {
  font-family: 'Roboto', sans-serif;
  margin: 8px;
  justify-content: flex-start;
}

.username-input {
  margin-left: 12px;
}

.password-input {
  margin-left: 16px;
  margin-top: 8px;
  margin-bottom: 6px;
}

.login-btn {
  align-items: center;
  justify-content: center;
  margin-bottom: 200px;
}

.reset-btn {
  border-radius: 8px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 20px;
  padding-right: 20px;
  font-family: 'Roboto', sans-serif;
  margin-left: 18px;
  background-color: rgb(255, 196, 188);
}

.submit-btn {
  border-radius: 8px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 44px;
  font-family: 'Roboto', sans-serif;
  background-color: rgb(183, 230, 253);
}
